<div>
  <!-- 面包屑 -->
  <el-row>
    <el-col :span="24">
      <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>角色列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>
  <!-- /面包屑 -->

  <!-- 角色列表表格 -->
  <el-table
    :data="tableData"
    highlight-current-row
    style="width: 100%">
    <!-- 只要把 el-table-column 的 type 设置为 index，则改列就是一个索引列 -->
    <!--
      角色.children 一级权限
      角色.children.children 二级权限
      角色.children.children.children 三级权限
     -->
    <el-table-column type="expand">
      <template slot-scope="scope">
        <el-row v-if=" scope.row.children.length === 0">
          <el-col :span="24">该角色目前没有权限</el-col>
        </el-row>
        <el-row
          v-else
          class="level1"
          v-for="level1 in scope.row.children"
          :key="level1.id">
          <el-col :span="4">
            <el-tag closable @close="handleDeleteRight(scope.row, level1)">{{ level1.authName }}</el-tag>
            <i class="el-icon-arrow-right"></i>
          </el-col>
          <el-col :span="20">
            <el-row class="level2"
              v-for="level2 in level1.children"
              :key="level2.id">
              <el-col :span="4">
                <el-tag
                  closable
                  type="success"
                  @close="handleDeleteRight(scope.row, level2)">{{ level2.authName }}</el-tag>
                <i class="el-icon-arrow-right"></i>
              </el-col>
              <el-col :span="20">
                <el-tag
                  class="level3"
                  closable
                  v-for="level3 in level2.children"
                  :key="level3.id"
                  @close="handleDeleteRight(scope.row, level3)"
                  type="warning">{{ level3.authName }}</el-tag>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column
      type="index"
      width="50">
    </el-table-column>
    <el-table-column
      property="roleName"
      label="角色名称"
      width="120">
    </el-table-column>
    <el-table-column
      property="roleDesc"
      label="描述"
      width="120">
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope="scope">
        <el-button type="primary" plain size="mini">编辑</el-button>
        <el-button type="danger" plain size="mini">删除</el-button>
        <el-button type="info" plain size="mini" @click="showRightDialog(scope.row)">分配权限</el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- /权限表格列表 -->

  <!-- 角色授权对话框 -->
  <el-dialog
    title="角色授权"
    :visible.sync="rightDialogVisible"
    width="30%">
    <!--
      data 树形控件需要的数据
      show-checkbox 显示复选框
      node-key
      default-expanded-keys 用来指定哪些节点展开
      default-checked-keys 用来指定哪些节点默认被选中
      props 需要绑定一个对象，用来指定数据中的字段
        {
          children: '告诉树组件数据中的哪个字段存储了子列表',
          label: '告诉树组件，节点名称是谁'
        }

      只要你把符合父子节点关系的数组给树组件，它会帮你完成树菜单遍历
      props 绑定的对象中的
        children 用来告诉树组件，哪个字段是子节点列表
        label 用来告诉树组件，哪个字段是节点的名称
     -->

    <el-tree
      :data="treeData"
      ref="rightTree"
      show-checkbox
      node-key="id"
      :default-expand-all="true"
      :default-checked-keys="defaultChecked"
      :props="defaultProps">
    </el-tree>
    <span slot="footer" class="dialog-footer">
      <el-button @click="rightDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEditRight">确 定</el-button>
    </span>
  </el-dialog>
  <!-- /角色授权对话框 -->
</div>
