<div class="categories-wrap">
  <el-row>
    <el-col :span="4">
      <el-button type="primary" @click="handleShowAddCat">添加分类</el-button>
    </el-col>
  </el-row>

  <!-- 数据表格列表 -->
  <el-table
    :data="tableData"
    v-loading="loading"
    style="width: 100%">
    <!--
      参考文档：https://github.com/foolishchow/element-tree-grid
      1. yarn add element-tree-grid
      2. 在 main.js 中
          import ElTreeGrid from 'element-tree-grid'
          Vue.component(ElTreeGrid.name, ElTreeGrid)
      3. 看着文档去使用

      tableData 是一个树结构的数据
      prop 用来告诉树组件，数据中的哪个字段是节点文本
      label 用来设置当前列的标题
      child-key 用来告诉表格树组件，数据中的哪个字段是孩子
      indent-size 用来设定不同级别的节点的缩进大小
      treeKey 用来指定节点的唯一标识，默认使用数据中的 id 字段
      parentKey 用来指定节点的父节点标识，默认字段是 parent_id
      levelKey 用来指定节点的级别，默认字段是 depth
     -->
    <el-table-tree-column
      fixed :expand-all="!!!1"
      file-icon="icon icon-file"
      folder-icon="icon icon-folder"
      prop="cat_name"
      label="分类名称"
      child-key="children"
      treeKey="cat_id"
      parentKey="cat_pid"
      :show-overflow-tooltip="true"
      levelKey="cat_level"
      width="320"
      :indent-size="40">
    </el-table-tree-column>
    <el-table-column
      label="是否有效"
      width="180">
      <template slot-scope="scope">
        {{ scope.row.cat_deleted }}
      </template>
    </el-table-column>
    <el-table-column
      prop="cat_level"
      label="排序"
      width="180">
    </el-table-column>
    <el-table-column
      label="操作"
      width="180">
      <template slot-scope="scope">
        <el-button size="mini" type="primary">编辑</el-button>
        <el-button size="mini" type="danger">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- /数据表格列表 -->

  <!-- 分页 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :page-size="5"
    :total="total"
    @current-change="handleCurrentChange">
  </el-pagination>
  <!-- /分页 -->

  <!-- 添加分类对话框 -->
  <el-dialog title="添加分类" :visible.sync="addCatDialog">
    <el-form :model="addCatForm">
      <el-form-item label="分类名称" label-width="120px">
        <el-input v-model="addCatForm.cat_name" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="父级分类" label-width="120px">
        <el-cascader
          :props="{
            label: 'cat_name',
            children: 'children',
            value: 'cat_id'
          }"
          :options="options">
        </el-cascader>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addCatDialog = false">取 消</el-button>
      <el-button type="primary" @click="addCatDialog = false">确 定</el-button>
    </div>
  </el-dialog>
  <!-- /添加分类对话框 -->
</div>
