<div class="goods-add-wrap">
  <el-steps :active="defaultStepActive" finish-status="success">
    <el-step title="步骤 1"></el-step>
    <el-step title="步骤 2"></el-step>
    <el-step title="步骤 3"></el-step>
  </el-steps>
  <el-tabs tab-position="left" v-model="tabActiveName" @tab-click="handleTabClick">
    <el-tab-pane label="基本信息" name="first">
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="商品名称">
          <el-input v-model="form.goods_name"></el-input>
        </el-form-item>
        <el-form-item label="商品价格">
          <el-input v-model="form.goods_price"></el-input>
        </el-form-item>
        <el-form-item label="商品重量">
          <el-input v-model="form.goods_weight"></el-input>
        </el-form-item>
        <el-form-item label="商品数量">
          <el-input v-model="form.goods_number"></el-input>
        </el-form-item>
        <el-form-item label="商品分类">
          <el-cascader
            :props="{
              label: 'cat_name',
              children: 'children',
              value: 'cat_id'
            }"
            v-model="form.goods_cat"
            :options="options"
            :change-on-select="true">
          </el-cascader>
        </el-form-item>
        <el-form-item label="是否促销">
          <el-radio-group v-model="form.is_promote">
            <el-radio :label="true">是</el-radio>
            <el-radio :label="false">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <el-row>
        <el-col>
          <el-button type="primary" @click="handleNextStep('second', 1)">下一步</el-button>
        </el-col>
      </el-row>
    </el-tab-pane>
    <el-tab-pane label="商品图片" name="second">
      <!--
        element 的上传组件已经把上传的请求都帮你封装好了
        你要做的就是配置你的上传路径等信息，它会帮你自动完成上传
        action 指定上传的路径地址
        fileList 用来存储上传好的图片路径地址\

        图片上传组件会自动去帮你请求你指定的 action
        它发送的请求不是私用 axios 发的请求，所以就不会经过 axios 的请求拦截器，也就不会携带 token
        图片上传组件支持配置自定义请求头
       -->
      <el-upload
        action="http://localhost:8888/api/private/v1/upload"
        :on-preview="handlePreview"
        :on-remove="handleRemove"
        :on-success="handleUploadSuccess"
        :file-list="fileList"
        :headers="headers"
        list-type="picture">
        <el-button size="small" type="primary">点击上传</el-button>
        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
      </el-upload>
      <el-row>
        <el-col>
          <el-button type="primary" @click="handleNextStep('third', 2)">下一步</el-button>
        </el-col>
      </el-row>
    </el-tab-pane>
    <el-tab-pane label="商品详情" name="third">
      <!--
        让富文本编辑器双向绑定我们需要的数据
       -->
      <quill-editor v-model="form.goods_introduce"
          ref="myQuillEditor"
          :options="editorOption"
          @blur="onEditorBlur($event)"
          @focus="onEditorFocus($event)"
          @ready="onEditorReady($event)">
      </quill-editor>
      <el-row>
        <el-col :span="4" :offset="4">
          <el-button type="primary" @click="handleAdd">立即创建</el-button>
        </el-col>
      </el-row>
    </el-tab-pane>
  </el-tabs>
</div>
