<!--
  表格组件的使用：
  el-table 组件
    data 用来绑定表格数据，是一个数组
    表格组件会根据 data 自动循环渲染
  el-table-column 组件就是表格列
    label 属性用来指定列的标题
    prop 属性用来指定 data 数组中元素项的某个属性
    width 用来设定表格列的宽度，默认单位是 px
 -->
<div>
  <!-- 面包屑 -->
  <el-row>
    <el-col :span="24">
      <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        <el-breadcrumb-item>用户列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>
  <!-- /面包屑 -->

  <!-- 搜索 -->
  <el-row :gutter="20">
    <el-col :span="6">
      <el-input placeholder="请输入内容" v-model="searchText">
        <el-button slot="append" icon="el-icon-search" @click="handleSearch"></el-button>
      </el-input>
    </el-col>
    <el-col :span="2">
      <el-button type="primary" @click="dialogFormVisible = true">添加用户</el-button>
    </el-col>
  </el-row>
  <!-- /搜索 -->

  <!-- 表格列表 -->
  <el-table
    :data="tableData"
    class="table"
    style="width: 100%">
    <el-table-column
      prop="username"
      label="用户名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="mobile"
      label="电话"
      width="180">
    </el-table-column>

    <el-table-column label="操作">
      <!--
        自定义表格列
          1. 在 el-table-column 中添加 template 标签
             把需要自定义显示的内容写到 template 标签中
          2. 如果需要在自定义表格列模板中访问 tableData 数组的元素对象
              在 template 标签上声明 slot-scope="起个有意义的名字"
              然后在该列模板中就可以通过  起个有意义的名字.row 来访问遍历项 item 了
              也就是说 item.row 是 tableData 中的 item 项
       -->
      <template slot-scope="scope">
        <el-switch
          v-model="scope.row.mg_state"
          active-color="#13ce66"
          @change="handleChangeState(scope.row)"
          inactive-color="#ff4949">
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column>
      <template slot-scope="scope">
        <el-button type="primary" plain size="mini">编辑</el-button>
        <el-button type="danger" plain size="mini" @click="handleDeleteUser(scope.row)">删除</el-button>
        <el-button type="info" plain size="mini">分配角色</el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- /表格列表 -->

  <!-- 数据分页 -->
  <!--
    分页组件
      total 用来绑定总记录数，一共有多少条记录
      分页组件默认按照 10 条数据每页进行页码划分
      分页组件会按照总记录数和默认每页 10 条数据去分页
      page-size 用来指定按照每页多大来分页，默认为 10

      分页插件有一个自定义事件：current-change
      当我们点击分页插件的页码、上一页、下一页的时候会触发该事件
      我们可以监听这个事件，在该事件处理函数中我们可以通过参数得到当前的页码
   -->
  <el-pagination
    background
    layout="prev, pager, next"
    :page-size="2"
    :total="total"
    @current-change="handleCurrentChange">
  </el-pagination>
  <!-- /数据分页 -->

  <!-- 添加用户对话框 -->
  <!--
    el-dialog 是对话框组件
      visible 属性需要绑定一个布尔值，对话框会根据布尔值的真假来决定显示与隐藏
   -->
  <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
    <el-form ref="form"
      :model="addUserForm"
      label-position="left"
      size="small"
      :rules="formRule">
      <el-form-item label="用户名" label-width="80px" prop="username">
        <el-input v-model="addUserForm.username" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" label-width="80px" prop="password">
        <el-input v-model="addUserForm.password" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" label-width="80px" prop="email">
        <el-input v-model="addUserForm.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话" label-width="80px" prop="mobile">
        <el-input v-model="addUserForm.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleAddUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 添加用户对话框 -->
</div>
